<div class="blogs">
 <h1>Blog Feed</h1>
 <br>

  <ul>
    {{#each blogs}}
      <li>
        <div class="blog-container">
          <section class="blog-header">
            <div class="card">

            <div class="card-content">        
            <a href="/blog/{{id}}">
              <div class="title is-4 blog-title">{{this.blog_title}}</div>
            </a>
            <div class="subtitle is-6 blog-info">Posted by
              {{user.username}}
              on
              {{format_date created_at}}</div>
          </section>
          
           </div>
            </div>
          <a href="/blog/{{id}}" class="view-blog">Add a comment</a>
          <a
            href="/blog/{{id}}"
            class="blog-comments-amount"
          >{{comments.length}}
            comments</a>
        </div>
      </li>
      </div>
    </div>
      <br>
    {{/each}}
  </ul>
</div>

